body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    background-color: #708a93;
    font-family: 'Jura';
}

p {
    color: #e4f2f7;
    font-size: 20px;
}

#pop_up {
 
    text-align: center;
    position: fixed;
    width: 100px;
    z-index: 1;
    background-color: rgb(15, 91, 161);
}

#gameOver {
 
    text-align: center;
    position: fixed;
    width: 200px;
    height: 100Px;
    z-index: -1;
    background-color: rgb(15, 91, 161);
}